@page "/categories/details"
@using Microsoft.EntityFrameworkCore
@using ProductApp.Data
@inject IDbContextFactory<ProductApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>ПРОСМОТР</PageTitle>

<h1>Детали категории</h1>

<div>
    <hr />
    @if (category is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Наименование категории</dt>
            <dd class="col-sm-10">@category.CategoryName</dd>
        </dl>
        <div>
            <a href="@($"/categories/edit?categoryid={category.CategoryId}")">Изменить</a> |
            <a href="@($"/categories")">Вернуться к списку категорий товаров</a>
        </div>
    }
</div>

@code {
    private Category? category;

    [SupplyParameterFromQuery]
    private int CategoryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        category = await context.Categories.FirstOrDefaultAsync(m => m.CategoryId == CategoryId);

        if (category is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
